#! /usr/bin/bash

alias la='ls -alhG'
alias ls='ls -alhG'
alias ack5=acksearch

alias directorysize='du -h --max-depth=1 | sort -h'
alias tls='tmux list-sessions'
alias xit='exit'

# Git related aliases
alias gs='git status --untracked-files=all'
alias gu='git-update-tree'
alias gsu='git submodule update'
alias gco='git checkout'
alias gdom='git diff origin/master'
alias gdomno='git diff origin/master --name-only'
alias gdod='git diff origin/develop'
alias gdodno='git diff origin/develop --name-only'
alias gl='git log'
alias glno='git log --name-only'
alias glp='git lp'
alias glpno='git lp --name-only'
alias glr="git log -p --reverse origin.."
alias glrw="git log --word-diff-regex='[[:alnum:]]+|[^[:space:]]' --color-words -p -w --reverse -M origin/master.."
alias gf=git_fetch
alias grp=git_request_pull
alias cleanup_branches="git branch --merged develop | grep -e 'james.whiteneck' | strip-ansi | xargs -n 1 git branch -d"

# Vim - Git related aliases
alias vgdom='vim $(git diff origin/master --name-only)'
alias vgdod='vim $(git diff origin/develop --name-only)'
alias vgd='vim $(git diff --name-only)'

# Python aliases
alias isvirtualenvactive='env | grep VIRTUAL_ENV | wc -l'
alias createvirtualenv='virtualenv env && source env/Scripts/activate'
alias setupvirtualenv='/c/work/setup_env.sh'

alias        ..='cd ..'
alias       ...='cd ../..'
alias      ....='cd ../../..'
alias     .....='cd ../../../..'
alias    ......='cd ../../../../..'
alias   .......='cd ../../../../../..'
alias  ........='cd ../../../../../../..'
alias .........='cd ../../../../../../../..'

acksearch () {
    ack -A5 -B5 -i $1
}

function parse_git_branch
{
    if [ "$PWD" = "$HOME" ]; then
        echo ""
    else
        ref=$(git symbolic-ref HEAD 2> /dev/null) || return
        echo "${ref#refs/heads/} "
    fi
}

git_fetch () {
    git fetch $1
    git checkout FETCH_HEAD
    git rebase origin/master
    rtk_incr_test.pl -b origin/master
}

git_request_pull () {
    if [ $1 ]; then
        git request-pull $1 `hostname`:`pwd`
    else
        git request-pull origin/master `hostname`:`pwd`
    fi
}
